body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: auto;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
    text-align: center;
}


label {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

select, input {
    font-family: 'Times New Roman', Times, serif;
    width: 98%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

button {
    width: 100%;
    padding: 12px;
    background-color:#8EC5FC ;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cfaaf2;
}

#results {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color:#8EC5FC ;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #8EC5FC;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color:#cfaaf2 ;
}
